# Ignore Terraform state files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Ignore variable files that may contain secrets
*.tfvars
!example.tfvars

# Crash log files
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc
